name: Разворачивание и загрузка ГАР в PostgreSQL

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main
jobs:
  test:
    env:
      PGPASSWORD : '1234567890'
      PGDATABASE : 'Государственный адресный реестр'
      PGUSER : 'Государственный адресный реестр'
      PGPORT : '5432'
      PGHOST : '127.0.0.1'
      test_schema : 'data'
    strategy:
      fail-fast: false

    name: Разворачивание метаданных ГАР
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: tar
        run: |
          tar zcvf gos_adres_reestr_2_postgresql.tar.gz ./*
          chmod +x ./*.sh -v

      - name: Установка PostgreSQL, библиотек для компиляции утилиты, местных стандартов вывода
        run: |
          sudo apt install postgresql postgresql-contrib libxml2-dev libpq-dev language-pack-ru-base language-pack-ru -y
          sudo locale-gen ru_RU
          sudo systemctl restart postgresql;

      - name: Подготовка пользователя и БД PostgreSQL
        run: bash GitHubActions/db_init.sh ${{ env.PGDATABASE }} ${{ env.PGDATABASE }} ${{ env.PGPASSWORD }};

      - name: ГАР XSD
        run: bash GitHubActions/db_use.sh https://web.archive.org/web/20250921151758/https://fias.nalog.ru/docs/gar_schemas.zip ${{ env.test_schema }};

      - name: Компиляция утилиты
        run: (cd C; make all;)

      - name: Тест разворачивания метаданных
        run: bash GitHubActions/db_test.sh ${{ env.test_schema }}

      - name: Скачивание артефактов провала для анализа
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Провал регрессивных тестов разворачивания в схеме ${{ env.test_schema }}
          path: |
            test/
          retention-days: 4
